.discounts {
  padding: 45px 0;
  background-color: $bg-4;
  border-bottom: 1px solid #9e9e9e;
  transition: .4s ease;
  .discounts__title {
    margin-bottom: 13px;
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
    font-family: $opensans-regular;
  }
  .discounts__text {
    font-size: 18px;
    line-height: 20px;
    font-family: $opensans-light;
    font-weight: 300;
  }
  .discounts__form {}
  .discounts__form-block {}
  .form-control {
    display: block;
    width: 100%;
    padding: 7px 20px;
    height: 55px;
    color: #515151;
    font-family: $opensans-light;
    font-size: 18px;
    line-height: 40px;
    font-weight: 300;
    background-color: $bg-2;
    border-radius: 5px;
    box-shadow: $box-shadow-1;
    &:focus {
      border-color: $gray-1;
      font-weight: 700;
    }
    &:hover {
      border-color: $gray-1;
    }
  }
  .discounts__form-btn {
    width: 100%;
    padding: 0 45px;
    font-size: 18px;
    line-height: 51px;
    font-family: $opensans-bold;
    font-weight: 700;
    color: $light-1;
    background-color: $red-1;
    border-radius: 5px;
    border-bottom: 4px solid #d96340;
    transition: .4s ease;
    &:hover {
      background-color: #d96340;
    }
    &:active {
      border-color: none;
    }
    &:focus {
      outline: none;
    }
  }
}
@media screen and #{($desktop-point-widths-des)} {

}
@media screen and #{($laptop-point-widths-des)} {
  .discounts__title,
  .discounts__text {
    text-align: center;
  }
  .discounts__text {
    margin-bottom: 15px;
  }
  .discounts__form {
    margin-top: 10px;
  }
}
@media screen and #{($tablet-point-widths-des)} {
  .discounts {
    padding: 25px 0;
  }

}
@media screen and #{($phone-point-widths-des)} {

}
