.footer {
  position: relative;
  background-color: $bg-6;
}
.footer__top {
  padding-top: 35px;

}
.footer__menu {
  @extend %clearfix;
}

.footer__menu-title {
  margin-bottom: 25px;
  color: $gray-3;
  font-size: 14px;
  line-height: 1;
  font-family: $opensans-bold;
  font-weight: 700;
  text-transform: uppercase;
}
.footer__menu-list,
.footer__paymants  {
  padding-bottom: 35px;
  @extend %ul-reset;
}
.footer__menu-item {}
.footer__menu-link {
  display: block;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
  font-weight: 400;
  font-family: $opensans-regular;
  color: $gray-3;
  transition: .3s ease;
  &:focus {
    outline: none;
    color: $gray-3;
    text-decoration: none;
  }
  &:hover {
    text-decoration: none;
    color: $red-2;
  }
  &:active {
    text-decoration: none;
    color: $gray-3;
  }
}
.footer__bottom {
  @extend %clearfix;
  padding: 28px 0;
  font-size: 14px;
  line-height: 14px;
  font-family: $opensans-regular;
  font-weight: 400;
  background-color: $bg-2;
}
.footer__copyright {
  text-align: left;
  line-height: 40px;
}
.footer__paymants {
  padding-bottom: 0;
  text-align: right;
  font-size: 0;
}
.footer__paymants-item {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  margin-left: 6px;
  transition: .4s ease;
  &:first-child {
    margin-left: 0;
  }
}
.footer__paymants-link {
  display: block;
  width: 58px;
  height: 40px;
  margin-bottom: 10px;
  text-decoration: none;


}
@media screen and #{($desktop-point-widths-des)} {

}
@media screen and #{($laptop-point-widths-des)} {

}
@media screen and #{($tablet-point-widths-des)} {
  .footer__copyright {
    text-align: center;
    margin-bottom: 20px;
  }
  .footer__paymants {
    text-align: center;
    margin-bottom: 20px;
  }
}
@media screen and #{($phone-point-widths-des)} {

}
