.page-promo {
  color: $gray-1;
  background-color: $bg-2;
  border-top: 1px solid #cfcfcf;
  border-bottom: 3px solid #dadada;
}
.page-promo-text {
  padding: 50px 0;
  font-size: 30px;
  font-family: $opensans-regular;
  font-weight: 400;
  text-align: center;
}
