.socials {
  @extend  %ul-reset;
  font-size: 0;
}
.socials__item {
  position: relative;
  @include inline-block($valign: top);
  font-size: 16px;
  margin-right: 10px;
  margin-bottom: 10px;
  &:last-child {
    margin-right: 0;
  }
}
.socials__link {
  position: relative;
  display: block;
  width: 48px;
  height: 48px;
  font-size: 0;
  text-decoration: none;
  background-color: transparent;
  transition: .4s ease;
  svg {
    display: block;
    margin: 0 auto;
    margin-top: 12px;
    transition: .4s ease;
  }
  &:hover {
    svg {
      transform: scale(1.10);
    }
    &.socials__link--fb {
      background-color: darken(#4463b1, 15%);
    }
    &.socials__link--tw  {
      background-color: darken(#4e9edc, 15%);
    }
    &.socials__link--flickr  {
      background-color: darken(#f2f2f2, 15%);
    }
  }
  &.socials__link--fb  {
    background-color: #4463b1;
    svg {
      fill: #fff;
    }
  }
  &.socials__link--tw  {
    background-color: #4e9edc;
    svg {
      fill: #fff;
    }
  }
  &.socials__link--flickr  {
    background-color: #f2f2f2;
    svg {
      fill: #ff1981;
    }
  }
}
@media screen and #{($laptop-point-widths-des)} {

}
@media screen and #{($tablet-point-widths-des)} {

}
@media screen and #{($phone-point-widths-des)} {

}
