.page__slogan {
  padding: 50px 0;
  background-color: #fff;
  color: #000;
  border-top: 1px solid #cfcfcf;
  border-bottom: 3px solid #dadada;

}
.page__slogan h1 {
  margin: 0;
  text-align: center;
  font-size: 30px;
  font-weight: 400px;
  font-family: "OpenSunsRegular", "Arial", sans-serif;
}
