/*=========header__top==========*/
.header__top {
  background-color: #fff;
  color: #000;
}
.header__top .container,
.header__top .navbar-collapse {
  padding-left: 0;
}
.header__top .navbar {
  min-height: 0;
  padding: 24px 0;
  margin-bottom: 0;
  border-radius: 0;
  font-size: 14px;
  font-family: "OpenSansRegular", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}
.header__top .navbar-default .navbar-nav > li > a {
  padding-top: 5px;
  padding-bottom: 5px;
  color: #000;
  transition: background .3s;
}
.header__top .navbar-default .navbar-nav > li > a:hover {
  text-decoration: underline;
}
.header__top .navbar-default .navbar-nav > li > a.btn-red {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 27px;
  background-color: #d51e08;
  transition: background .3s;
  border-radius: 3px;
  color: #fff;
}
.header__top .navbar-default .navbar-nav > li > a.btn-red:hover {
  background-color: #ec4835;
  text-decoration: none;
}
.header__top .navbar-default .navbar-nav > li > a .glyphicon {
  margin-right: 14px;
  font-size: 17px;
}
.glyphicon-shopping-cart {
  color: #fff;
}
.flag {
  margin-right: 7px;
  position: relative;
  top: -2px;
}
@media only screen and (max-width : 1200px) {
  .header__top .navbar-nav {
    float: none!important;
  }

}
@media only screen and (max-width : 1020px) {
  .header__top .navbar-nav {
    margin-right: 0;
    float: none!important;
  }
}
@media only screen and (max-width : 768px) {
  .header__top .navbar-default .navbar-nav > li > a:hover {
    background-color: #eee;
    margin-right: 0;
  }
  .header__top .container,
  .header__top .navbar-collapse {
    padding-left: 15px;
  }
}
/*=========END header__top=======*/
