.page_inner {
  background-color: #ececec;
  color: #000;
}
.page_inner .container {
  padding: 0 30px;
}
.page__inner .row {
  margin: 0;
}

@media only screen and (min-width : 320px) {
  .col-md-3,
  .col-xs-6 {
    padding-left: 0;
    padding-right: 0;
  }
}
