@charset "UTF-8";
/* подключаем все кусочки кодов в главный файл*/
/* Переменные и миксины*/
/* Гломадбные стили для всего проекта*/
/* Стили различных BEM-блоков*/
.block {
  background-color: #ccc;
  border: 1px solid #eee;
  color: green; }

img {
  display: block;
  max-width: 100%;
  height: auto;
  border: 1px solid orange; }

ul {
  list-style: none; }

h2 {
  background-color: #eee;
  border: 1px solid #ccc;
  text-align: center; }

h4 {
  text-align: center; }
