@charset "UTF-8";
/* подключаем все кусочки кодов в главный файл*/
/* Переменные и миксины*/
/* переменные цветом и типографики*/
/* Глобальные стили для всего проекта*/
/* Шрифты */
/* font-family: "OpenSansBold"; */
@font-face {
  font-family: "OpenSansBold";
  src: url("../../fonts/OpenSansBold/opensans-bold-webfont.woff") format("woff"), url("../../fonts/OpenSansBold/opensans-bold-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

/* font-family: "OpenSansRegular"; */
@font-face {
  font-family: "OpenSansRegular";
  src: url("../../fonts/OpenSansRegular/opensans-regular-webfont.woff") format("woff"), url("../../fonts/OpenSansRegular/opensans-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

/* font-family: "OpenSansLight"; */
@font-face {
  font-family: "OpenSansLight";
  src: url("../../fonts/OpenSansLight/opensans-light-webfont.woff") format("woff"), url("../../fonts/OpenSansLight/opensans-light-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

/* Стили различных BEM-блоков*/
/*=========HEADER==========*/
/*=========header__top==========*/
.header__top {
  background-color: #fff;
  color: #000; }

.header__top .container,
.header__top .navbar-collapse {
  padding-left: 0; }

.header__top .navbar {
  min-height: 0;
  padding: 24px 0;
  margin-bottom: 0;
  border-radius: 0;
  font-size: 14px;
  font-family: "OpenSansRegular", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase; }

.header__top .navbar-default .navbar-nav > li > a {
  padding-top: 5px;
  padding-bottom: 5px;
  color: #000;
  transition: background .3s; }

.header__top .navbar-default .navbar-nav > li > a:hover {
  text-decoration: underline; }

.header__top .navbar-default .navbar-nav > li > a.btn-red {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 27px;
  background-color: #d51e08;
  transition: background .3s;
  border-radius: 3px;
  color: #fff; }

.header__top .navbar-default .navbar-nav > li > a.btn-red:hover {
  background-color: #ec4835;
  text-decoration: none; }

.header__top .navbar-default .navbar-nav > li > a .glyphicon {
  margin-right: 14px;
  font-size: 17px; }

.glyphicon-shopping-cart {
  color: #fff; }

.flag {
  margin-right: 7px;
  position: relative;
  top: -2px; }

@media only screen and (max-width: 1200px) {
  .header__top .navbar-nav {
    float: none !important; } }

@media only screen and (max-width: 1020px) {
  .header__top .navbar-nav {
    margin-right: 0;
    float: none !important; } }

@media only screen and (max-width: 768px) {
  .header__top .navbar-default .navbar-nav > li > a:hover {
    background-color: #eee;
    margin-right: 0; }
  .header__top .container,
  .header__top .navbar-collapse {
    padding-left: 15px; } }

/*=========END header__top=======*/
/*=========header__bottom==========*/
.header__bottom .navbar-inverse {
  background-color: transparent;
  border: none; }

.header__bottom_bg {
  background-color: #000;
  color: #fff;
  border-radius: 3px; }

.header__bottom {
  position: absolute;
  top: 117px;
  z-index: 21;
  width: 100%; }

.header__bottom .nav {
  margin: 11px 0; }

.header__bottom .navbar-inverse .navbar-nav > li > a {
  padding: 20px 15px;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-family: "OpenSansRegular", "Arial", sans-serif; }

.header__bottom .navbar-inverse .navbar-nav > li > a:hover {
  text-decoration: underline; }

.header__bottom .navbar-brand > img {
  display: block;
  float: left; }

.header__bottom .navbar-brand span {
  display: inline-block;
  padding: 31px 15px;
  font-size: 18px;
  color: #fff;
  font-family: "OpenSansBold", "Arial", sans-serif;
  font-variant: small-caps;
  text-transform: uppercase;
  font-weight: 700; }

.header__bottom .navbar-header .navbar-brand {
  padding: 0;
  margin-left: 30px; }

.header__bottom .navbar-collapse.in {
  overflow: visible; }

.header__bottom .form-control {
  display: block;
  height: auto;
  padding: 12px 12px;
  border: 0;
  border-radius: 5px; }

.header__bottom .navbar-form .input-group .form-control {
  width: 265px; }

.header__bottom .navbar-form {
  margin: 7px 0;
  padding-right: 30px;
  padding-left: 0; }

.header__bottom .btn {
  padding: 12px 12px;
  border: none;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

.header__bottom .btn-default:hover {
  color: #333;
  background-color: #fff; }

.header__bottom .btn-default:active {
  color: #333;
  background-color: #fff;
  border: 0;
  box-shadow: none; }

.header__bottom .btn-default:focus {
  outline: none;
  outline-offset: 0;
  background-color: #fff; }

.header__bottom .search {
  display: none;
  position: absolute;
  right: 40px;
  top: 20px;
  color: #fff;
  font-size: 22px;
  line-height: 50px;
  cursor: pointer;
  z-index: 30; }

@media only screen and (max-width: 1200px) {
  .header__bottom .navbar-nav {
    float: none !important;
    margin-left: 125px; }
  .header__bottom .navbar-form {
    display: none;
    position: absolute;
    right: 15px;
    top: 90px;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0;
    padding: 15px; }
  .header__bottom .search {
    display: block; } }

@media only screen and (max-width: 992px) {
  .header__bottom .navbar-inverse .navbar-nav > li > a {
    font-size: 14px; }
  .header__bottom .search {
    right: 22px; } }

@media only screen and (max-width: 767px) {
  .header__bottom .container {
    padding-left: 0;
    padding-right: 0; }
  .navbar-nav .navbar-form {
    margin-right: 40px; }
  .header__bottom .navbar-form .input-group .form-control {
    width: 100%; }
  .header__bottom .navbar-inverse .navbar-nav > li > a:hover {
    background-color: #222;
    text-decoration: none; }
  .header__bottom .navbar-brand img {
    max-height: 50px;
    max-width: 50px; }
  .header__bottom .navbar-toggle.collapsed + .navbar-brand img {
    max-height: none;
    max-width: none;
    position: relative;
    z-index: 20; }
  .header__bottom .navbar-nav {
    margin-left: 0; }
  .header__bottom .search {
    display: none; }
  .header__bottom .navbar-brand span {
    padding: 20px 15px; }
  .header__bottom .navbar-form {
    display: block !important;
    position: relative;
    right: 0;
    top: 0;
    background-color: transparent; } }

@media only screen and (max-width: 335px) {
  .header__bottom .navbar-toggle.collapsed + .navbar-brand img {
    max-width: 80px; } }

@media only screen and (min-width: 1200px) {
  .header__bottom .navbar-form {
    display: block !important; } }

/*=========END header__bottom=======*/
/*=========menu__carousel==========*/
.menu__carousel .item {
  min-height: 714px; }

.menu__carousel .bg_slide {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url("../../img/pict/slider.jpg") no-repeat center center;
  background-size: cover; }

.menu__carousel .item img {
  width: 100%; }

.carousel.fade {
  opacity: 1; }

.carousel.fade .item {
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s;
  z-index: 1; }

.carousel.fade .item.active {
  position: relative;
  opacity: 1;
  z-index: 2; }

.menu__carousel .carousel-caption {
  left: 0;
  top: 240px; }

.menu__carousel .container {
  position: relative; }

.menu__carousel .carousel-caption {
  text-align: left; }

.carousel-caption h1 {
  margin: 0;
  font-size: 48px;
  margin-left: 160px;
  color: #fff;
  font-weight: 700;
  text-align: left;
  font-family: "OpenSansBold", "Arial", sans-serif;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.46);
  margin-bottom: 25px; }

.carousel-caption p {
  margin: 0;
  font-size: 30px;
  margin-left: 30px;
  color: #fff;
  font-weight: 400;
  font-family: "OpenSansRegular", "Arial", sans-serif;
  margin-bottom: 40px; }

.carousel-caption .btn {
  margin: 0;
  border: 0;
  display: inline-block;
  vertical-align: top;
  max-width: 326px;
  padding: 14px 33px;
  font-size: 24px;
  line-height: 1.3;
  font-family: "OpenSansRegular", "Arial", sans-serif;
  color: #fff;
  background-color: #d51e08;
  border-radius: 2px;
  margin-left: 20%;
  transition: background .3s; }

.carousel-caption .btn:hover {
  color: #fff;
  background-color: #981707;
  opacity: 1; }

.carousel-caption .btn:active {
  color: #fff;
  background-color: rgba(213, 30, 8, 0.8); }

.carousel-caption .btn:focus {
  color: #fff;
  border: none; }

.menu__carousel .carousel-control {
  z-index: 10; }

.carousel_indicators_wrap {
  position: absolute;
  width: 100%;
  bottom: -25px;
  text-align: center; }

.carousel_indicators_wrap .carousel-indicators {
  display: inline-block;
  margin-left: 0;
  position: relative;
  left: 0;
  bottom: 0;
  margin: 0;
  padding: 0 9px;
  background-color: #fff;
  width: auto;
  border: 1px solid #fbfbfb;
  border-radius: 2px;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.38);
  cursor: pointer;
  box-sizing: border-box; }

.carousel_indicators_wrap .carousel-indicators li {
  margin: 8px 10px;
  background-color: #d2d2d2;
  width: 10px;
  height: 10px; }

.carousel_indicators_wrap .carousel-indicators li:first-child {
  margin-left: 0; }

.carousel_indicators_wrap .carousel-indicators li:last-child {
  margin-right: 0; }

.carousel_indicators_wrap .carousel-indicators li.active {
  background-color: #a3a3a3; }

@media only screen and (max-width: 992px) {
  .menu__carousel .carousel-caption {
    left: 10%; }
  .carousel-caption h1 {
    font-size: 40px;
    margin-left: 100px; }
  .carousel-caption p {
    font-size: 22px; } }

@media only screen and (max-width: 767px) {
  .carousel-caption h1 {
    font-size: 36px; }
  .carousel-caption p {
    font-size: 18px; }
  .carousel-caption .btn {
    padding: 12px 20px;
    font-size: 16px; } }

@media only screen and (max-width: 480px) {
  .carousel-caption h1 {
    font-size: 36px;
    margin-left: 60px; }
  .carousel-caption p {
    font-size: 18px; }
  .carousel-caption .btn {
    padding: 12px 20px;
    font-size: 14px; } }

/*=========END menu__carousel=======*/
/*======END  HEADER=========*/
/*=========content==========*/
.page__slogan {
  padding: 50px 0;
  background-color: #fff;
  color: #000;
  border-top: 1px solid #cfcfcf;
  border-bottom: 3px solid #dadada; }

.page__slogan h1 {
  margin: 0;
  padding: 0 25px;
  text-align: center;
  font-size: 30px;
  font-weight: 400px;
  font-family: "OpenSunsRegular", "Arial", sans-serif; }

.page__inner {
  background-color: #ececec;
  color: #000; }

.page__inner .container {
  padding: 0 30px; }

.page__inner .row {
  margin: 0; }

.page__content {
  padding: 50px 0 70px; }

.page__title {
  margin: 0;
  margin-bottom: 30px; }

.sidebar {
  padding: 50px 0 70px;
  border-right: 3px solid #dadada;
  box-sizing: border-box; }

.widget {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 3px solid #dadada; }
  .widget h2 {
    margin: 0;
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 30px;
    font-family: "OpenSansBold", "Arial", sans-serif;
    font-weight: 700; }
  .widget ul {
    list-style: none;
    padding: 0;
    margin: 0; }

.widget a {
  display: block;
  padding: 5px 0;
  color: #000;
  font-size: 16px;
  line-height: 30px;
  font-family: "OpenSansRegular", "Arial", sans-serif;
  text-decoration: none;
  font-weight: 400;
  transition: background .3s; }

.widget a:hover {
  color: #d51e08;
  background-color: #aaa; }

.widget .more a {
  color: #358acd; }
  .widget .more a:hover {
    color: #358acd; }

.sidebar .carousel {
  overflow: hidden;
  margin-bottom: 23px;
  background-color: #fff;
  margin-right: 25px; }

.carousel-inner img {
  width: 100%;
  height: auto; }

.sidebar-carousel-caption {
  background-color: #fff;
  color: #5b5b5b;
  border-bottom: 1px solid #e1e1e1; }
  .sidebar-carousel-caption div {
    padding: 20px 10px;
    text-align: center; }
  .sidebar-carousel-caption h3 {
    margin: 0;
    font-size: 14px;
    line-height: 30px;
    font-family: "OpenSansBold", "Arial", sans-serif;
    font-weight: 700;
    margin-bottom: 24px; }
  .sidebar-carousel-caption p {
    margin: 0;
    font-size: 12px;
    line-height: 18px;
    font-family: "OpenSansRegular", "Arial", sans-serif;
    font-weight: 400;
    color: #5b5b5b; }

.sidebar .carousel-indicators {
  background-color: #fff;
  position: relative;
  bottom: 0;
  left: 0;
  width: auto;
  margin: 0;
  padding: 12px 0; }

.carousel-indicators li {
  width: 9px;
  height: 9px;
  background-color: #9a9a9a;
  border: none;
  margin: 0 5px; }

.carousel-indicators .active {
  width: 9px;
  height: 9px;
  margin: 0 5px;
  background-color: #5b5b5b; }

.banner {
  background-color: #fff;
  color: #000;
  margin-right: 25px; }

.banner img {
  width: 100%;
  height: auto; }

.banner h4 {
  margin: 0;
  padding-top: 32px;
  padding-bottom: 10px;
  font-size: 18px;
  line-height: 18px;
  font-family: "OpenSansRegular", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase; }

.banner p {
  margin: 0;
  padding-bottom: 23px;
  font-size: 18px;
  line-height: 18px;
  font-family: "OpenSansRegular", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase; }

.banner span {
  display: block;
  margin: 0;
  padding-bottom: 8px;
  font-size: 28px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase; }

.banner .btn {
  margin: 0;
  display: inline-block;
  vertical-align: top;
  max-width: 167px;
  margin-bottom: 30px;
  padding: 8px 34px;
  background-color: #d51e08;
  border-radius: 3px;
  color: #fff;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  font-family: "OpenSansBold", "Arial", sans-serif;
  font-weight: 700;
  text-decoration: none;
  transition: all .5s;
  box-sizing: border-box; }
  .banner .btn:hover {
    background-color: #ec4835; }

.about {
  padding-right: 25px; }
  .about h2 {
    margin: 0;
    margin-top: 35px;
    margin-bottom: 20px;
    color: #000;
    font-size: 24px;
    font-family: "OpenSansBold", "Arial", sans-serif;
    font-weight: 700; }
  .about p {
    margin: 0;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    font-family: "OpenSansRegular", "Arial", sans-serif;
    color: #585858; }
    .about p span {
      color: #0a94b2; }

@media only screen and (max-width: 992px) {
  .sidebar {
    padding-bottom: 0;
    padding-top: 0;
    border-right: none; }
  .about {
    padding-right: 0; } }

@media only screen and (max-width: 625px) {
  .sidebar .row .col-xs-6 {
    width: 100%; } }

@media only screen and (max-width: 420px) {
  .sidebar .carousel,
  .banner {
    margin-right: 0; } }

@media only screen and (max-width: 320px) {
  .sidebar .col-md-3,
  .sidebar .col-xs-6 {
    padding-left: 0px;
    padding-right: 21px; }
  .sidebar .carousel,
  .sidebar .banner {
    margin-right: 0; } }

@media only screen and (min-width: 320px) {
  .col-md-3,
  .col-xs-6 {
    padding-left: 0;
    padding-right: 0; } }

/*======END  content=========*/
body {
  min-width: 320px; }

img {
  max-width: 100%;
  height: auto; }

/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
