
/* Шрифты */
/* font-family: "OpenSansRegular"; */
@font-face {
	font-family: "OpenSansRegular";
	src: url("../fonts/OpenSansRegular/opensans-regular-webfont.woff") format("woff"),
	url("../fonts/OpenSansRegular/opensans-regular-webfont.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}
/* font-family: "OpenSansLight"; */
@font-face {
	font-family: "OpenSansLight";
	src: url("../fonts/OpenSansLight/opensans-light-webfont.woff") format("woff"),
	url("../fonts/OpenSansLight/opensans-light-webfont.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}
/* font-family: "OpenSansBold"; */
@font-face {
	font-family: "OpenSansBold";
	src: url("../fonts/OpenSansBold/opensans-bold-webfont.woff") format("woff"),
	url("../fonts/OpenSansBold/opensans-bold-webfont.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}
