body {
  min-width: 320px;
  // background-color: #ececec;
  // color: #000;
  // font-size: 14px;
  // font-family: "OpenSansRegular", "Arial", sans-serif;
}
img {
  // display: block;
  max-width: 100%;
  height: auto;
}


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
  
}
