/* подключаем все кусочки кодов в главный файл*/
// @import "normalize.scss";

/* Переменные и миксины*/
@import "variables.scss";
// @import "mixins.scss";
// @import "media.scss";

/* Глобальные стили для всего проекта*/
@import "global/fonts.scss";
@import "global/layout.scss";
@import "global/forms.scss";
@import "global/type.scss";


/* Стили различных BEM-блоков*/
@import "blocks/header.scss";
@import "blocks/content.scss";
@import "blocks/footer.scss";
@import "blocks/reviews.scss";
@import "blocks/main-nav.scss";

body {
  min-width: 320px;
  // background-color: #ececec;
  // color: #000;
  // font-size: 14px;
  // font-family: "OpenSansRegular", "Arial", sans-serif;
}
img {
  // display: block;
  max-width: 100%;
  height: auto;
}
